JWT_SECRET=fiuewfiuewhfiua
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transcendence

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

CORS_ORIGIN=http://localhost:3000
FRONTEND_SUCCESS_LOGIN_URL=http://localhost:3000/app
