JWT_SECRET=fiuewfiuewhfiua
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transcendence

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://localhost:8443/api/auth/github/callback

CORS_ORIGIN=https://localhost:8443
FRONTEND_SUCCESS_LOGIN_URL=https://localhost:8443/app
FRONTEND_2FA_URL=https://localhost:8443/login
DB_SSL=true
SSL_ENABLED=true