JWT_SECRET=fiuewfiuewhfiua
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transcendence

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://localhost/api/auth/github/callback

CORS_ORIGIN=https://localhost
FRONTEND_SUCCESS_LOGIN_URL=https://localhost/app
FRONTEND_2FA_URL=https://localhost/login
